.homepage {
  background-color: #ffff;
  text-align      : center;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  position        : relative;
}

.image {
  width   : 100vw;
  height  : 100vh;
  overflow: hidden;
}



.logo {
  position      : absolute;
  top           : 50%;
  left          : 50%;
  transform     : translate(-50%, -50%);
  height        : 80vmin;
  pointer-events: none;
}